/* Write your CSS here! */
body {
    margin: 8px;
    display: block;
    background-color: rgb(177, 164, 164);
}

#mainHeading {
    color: red;
}

.funParagraph {
    color: green;
}

#preWar {
    margin-bottom: 50px;
}

#duringWar {
    margin-bottom: 50px;
}

.img {
    max-width: 50%;
    max-height: 50%;
}